<h1>Coupon Form</h1>
<%= form_for @coupon do |f| %>
<%= f.text_field(:coupon_code, placeholder: "Enter Coupon Code")%>
<br>
<%= f.text_field(:store, placeholder: "Enter Store") %>
<br><br>
<%= f.submit "Submit Coupon" %>
<% end %>